.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}







/* mystyles */

input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 50%;
    background: white;
    display: inline-block;
    margin-left: 20%;
}

.mainDiv{
  margin: 0 auto;
  margin-top: 5%;
  background: #e9711c;
  width: 60%;
  padding: 2%;
  overflow: auto;
}


.small{
margin-left: 40%;
}

.button {
    float: left;
    width: 10%;
    padding: 10px;
    background: #007398;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    display: inline-block;
}

.head{
  color:#fff;
  margin-left: 20%;
  align:"center" !important;
  display: inline-block;
  font-size: 1.5rem;
  line-height: 3.25rem;
  margin-bottom: .625rem;
  font-family: nexussans,arial,sans-serif;
  font-feature-settings: "kern" 1,"liga" 1,"pnum" 1,"tnum" 0,"onum" 1,"lnum" 0,"dlig" 1;
  font-weight: 100;
}

    .data{
      margin-top: 5%;
      margin-left: 10%;
      margin-right: 10%;
    }

    .demo{
      color: #007398;
      font-family: nexussans,arial,sans-serif;
      font-feature-settings: "kern" 1,"liga" 1,"pnum" 1,"tnum" 0,"onum" 1,"lnum" 0,"dlig" 1;
      font-weight: 100;
      font-size: 1.5rem;
    }

    .heading{
      color: #e9711c;
      font-family: nexussans,arial,sans-serif;
      font-feature-settings: "kern" 1,"liga" 1,"pnum" 1,"tnum" 0,"onum" 1,"lnum" 0,"dlig" 1;
      font-weight: 100;
      font-size: 2rem;
    }

    #table {
      margin-top: 5%;
      font-family: nexussans,arial,sans-serif;
      font-feature-settings: "kern" 1,"liga" 1,"pnum" 1,"tnum" 0,"onum" 1,"lnum" 0,"dlig" 1;
      font-weight: 100;
      border-collapse: collapse;
      width: 100%;
    }

    #table td, #table th {
      border: 1px solid #ddd;
      padding: 8px;
    }

    #table tr:nth-child(even){background-color: #f2f2f2;}
    tr{color: #007398;}
    #table td:nth-child(2){width: 15%;}

    #table tr:hover {background-color: #ddd;}

    #table th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #e9711c;
      color: white;
      }
